#Options +FollowSymlinks
#RewriteEngine on
#RewriteRule ^pages/([a-z]+)/$ ./index.php?page=$1 [L]
#Options -Indexes



ErrorDocument 403 /forbidden.php
Options -Indexes
RewriteEngine on
Options +FollowSymlinks
RewriteRule communaute   communaute.php [L]
RewriteRule connexion   connexion.php [L]
RewriteRule dediweb-ok   defilante_ok.php [L]
RewriteRule dediweb   defilante.php [L]
RewriteRule equipe   equipe.php [L]
RewriteRule accueil   index.php [L]
RewriteRule inscription   inscription.php [L]
RewriteRule mon-compte   mon-compte.php [L]
RewriteRule replay   replay.php [L]
RewriteRule vip   vip.php [L]
RewriteRule partenaires   partenaires.php [L]
RewriteRule dedicace   dedicace.php [L]
RewriteRule logout   logout.php [L]
RewriteRule emissions   emissions.php [L]
RewriteRule ^profil/([0-9])-([-A-Za-z]+)+$   /profil.php?id=$1 [L]
RewriteRule ^profil/([0-9])-([-A-Za-z]+).html+$   profil.php?id=$1 [L]