img.tt{cursor:pointer;}
img{border:0;}
button::-moz-focus-inner {
  border: 0; }
li.small{font-size:85%;}
#t_id{width:6%;}
#t_fn{width:27%;}
#t_fs{width:8%;}
#t_fh{width:20%;}
#t_sr{width:33%;}
#t_op{width:6%;}